.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem; /* 5 units */
  background-color: #000000; /* Set background color to black */
  color: #ffffff; /* Set text color to white */
}

.icon {
  width: 1.5rem; /* 6 units */
  height: 1.5rem; /* 6 units */
  color: rgb(250, 250, 250);
  transition: color 0.3s;
}

.icon:hover {
  color: rgb(255, 255, 255);
}

.year {
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}

.twitter-x-icon {
  fill: rgb(255, 255, 255); /* Ensure the fill color is white */
  padding-left: 1.5rem; /* Adjust this value to move the icon to the right */
}